* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  animation-name: example-animation;
  animation-duration: 1s;
  animation-iteration-count: initial;
}

/* @keyframes example-animation {
  0% {
    background-color: red;
  }

  10% {
    background-color: rgb(171, 47, 67);
    color: white;
  }
  20% {
    background-color: rgb(51, 245, 119);
    color: black;
  }
  30% {
    background-color: rgb(47, 193, 255);
  }
  40% {
    background-color: rgb(132, 22, 122);
  }
  50% {
    background-color: rgb(219, 230, 167);
    color: black;
  }
  60% {
    background-color: rgb(26, 66, 42);
    color: white;
  }
  70% {
    background-color: rgb(34, 94, 103);
  }
  80% {
    background-color: rgb(102, 166, 168);
    color: black;
  }
  90% {
    background-color: rgb(211, 3, 38);
  }
  100% {
    background-color: black;
    color: white;
  }
} */

header {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 0rem;
  /* border: 2px solid black; */
}

.links-ul {
  display: flex;
  /* border: 2px solid black; */
  margin: 0;
  list-style: none;
}
.links-ul li {
  margin: 0 2rem;
}
.sign-up a {
  /* border: 2px solid black; */
  text-decoration: none;
  color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
}
.sign-up a:nth-child(2) {
  background: black !important;
  color: white !important;
}

main {
  /* border: 2px solid black; */
  height: 90vh;
  display: flex;
  background: url("./img/pexels-karl-solano-2729899.jpg") no-repeat center
    center/cover;
  /* border: 2px solid black; */
}
.main-content {
  /* border: 2px solid black; */
  width: 50%;
  padding-top: 14rem;
  padding-left: 10rem;
}

.main-content h1 {
  font-size: 60px;
  margin-bottom: 1rem;
}

.main-content h3 {
  margin-bottom: 2rem;
}

.main-content p {
  /* border: 2px solid black; */
  width: 65%;
  margin-bottom: 2rem;
}

.main-content input {
  width: 17rem;
  height: 3.1rem;
  font-size: 15px;
  padding-left: 1rem;
}

.main-content a {
  background: black !important;
  color: white !important;
  text-decoration: none;
  padding: 0.78rem 2rem;
  border-radius: 0 5px 5px 0;
}

section {
  border: 2px solid black;
  padding: 5rem 0rem;
}
.sub1 {
  display: flex;
}
.sub1-left {
  width: 50%;
  padding: 5rem 2rem;
  text-align: center;
}
.sub1-right {
  width: 50%;
}
.sub1-right img {
  display: block;
  margin: auto;
}
